{
  ApplicationName = "Ink";
  ApplicationDescription = "An Example of how to use NSTextView";
  ApplicationRelease = "0.1";
  Authors = ("Fred Kiefer <fredkiefer@gmx.de>");
  Copyright = "Copyright (c) 2000 Fred Kiefer <fredkiefer@gmx.de>";
  CopyrightDescription = "This program is released under the GNU General Public License"; 
  NSIcon = Ink_app;
  NSServices = (
        {
             NSMenuItem = { default = "Ink/Open Selection"; };
	     NSMessage = openSelection;
	     NSPortName = Ink;
	     NSSendTypes = (
	          NSStringPboardType,
		  NSRTFPboardType,
		  NSRTFDPboardType
	     );
        },
        {
             NSMenuItem = { default = "Ink/Open File"; };
	     NSMessage = openFile;
	     NSPortName = Ink;
	     NSSendTypes = ( 
	          NSStringPboardType,
		  NSFilenamesPboardType
	     );
        }
  );
  NSTypes = (
        {
             NSName = "rtf";
             NSHumanReadableName = "RTF Document";
             NSUnixExtensions = ("rtf");
             NSDOSExtensions = ("rtf");
	           NSMIMETypes = ("text/rtf");
	           NSIcon = FileIcon_rtf;
             NSRole = Editor;
             NSDocumentClass = Document;
        },
        {
             NSName = "rtfd";
             NSHumanReadableName = "RTFD Document";
             NSUnixExtensions = ("rtfd");
             NSDOSExtensions = ("rtfd");
	           NSIcon = FileIcon_rtf;
             NSRole = Editor;
             NSDocumentClass = Document;
        },
        {
             NSName = "text";
             NSHumanReadableName = "Text Document";
             NSUnixExtensions = ("txt");
             NSDOSExtensions = ("txt");
	           NSMIMETypes = ("text/plain");
             NSIcon = FileIcon_txt;
             NSRole = Editor;
             NSDocumentClass = Document;
        }
  );
}
