{
  ApplicationName = "GPuzzle";
  ApplicationDescription = "A GNUstep Puzzle Program";
  ApplicationRelease = "Puzzle 0.1";
  FullVersionID = "0.1, May 2002";
  Authors = ("Marko Riedel <mriedel@neuearbeit.de>");
  Copyright = "Copyright (C) 2002 Free Software Foundation, Inc.";
  CopyrightDescription = "Released under the GNU General Public License 2.0";
  NSTypes = (
        {
             NSName = "puzzle";
             NSHumanReadableName = "PUZZLE Document";
             NSUnixExtensions = ("puzzle");
             NSRole = Editor;
             NSDocumentClass = Document;
        },
        {
             NSName = "tiff";
             NSHumanReadableName = "TIFF Document";
             NSUnixExtensions = ("tiff");
             NSRole = Viewer;
             NSDocumentClass = Document;
        }
  );              
}

