{
  ApplicationName = "Finger";
  ApplicationDescription = "A GNUstep Frontend to Finger, Ping, Traceroute";
  ApplicationRelease = "Finger 0.9.3";
  FullVersionID = "0.9.3, Apr 2002";
  Authors = ("Nicola Pero <n.pero@mi.flashnet.it>");
  Copyright = "Copyright (C) 1999, 2000 Free Software Foundation, Inc.";
  CopyrightDescription = "Released under the GNU General Public License 2.0";
}

